.axit__subtitle {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 36px;
  color: #ffffff;
  width: 544px;
  margin-top: 42px;
}
.axit__text::before {
  content: "";
  width: 64px;
  height: 0px;
  background-color: #fff;
  border: 1px solid #fff;
  display: block;
  margin: 35px 0;
}
.axit__text {
  width: 282px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}
.axit__download a {
  margin-top: 40px;
  color: #fff;
  width: 135px;
  line-height: 42px;
  text-align: center;
  display: block;
  border: 1px solid #fff;
}
.axit__download a:hover {
  background-color: #fff;
  color: #333;
}
.axit__download a:active {
  transform: scale(0.9);
  transition: 0.15s;
}
.axit__AX {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 60px;
  color: #ffffff;
  display: inline-block;
}
.axit__IT {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 60px;
  color: #ec7979;
  display: inline-block;
}
.form__title span {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  align-items: center;
  text-align: center;
  color: #333333;
  display: inline-block;
}
.form__title {
  display: block;
  text-align: center;
}
#form__title__FREE {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  align-items: center;
  text-align: center;
  color: #ec7979;
}
.axit__form {
  width: 370px;
}
.form__content {
  padding: 25px 59px 61px;
  background-color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.form__item {
  display: flex;
  flex-direction: column;
}
#label-user__name {
  margin-top: 55px;
}
.form__item label {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  color: #bdbdbd;
}
.form__item input {
  border: transparent;
  border-bottom: 1px solid #bdbdbd;
  display: block;
  width: 100%;
}
.btn {
  cursor: pointer;
  background-color: #ec7979;
  border: #ec7979;
  border-radius: 0px 0px 8px 8px;
  width: 370px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 15px;
  padding: 20px 0;
  color: #ffffff;
}
