footer {
  background-color: #000000;
  padding-top: 20px;
  padding-bottom: 15px;
}
.footer-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.footer__text {
  margin-top: 18px;
  width: 130px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
.footer__icons {
  font-size: 23px;
  /* line-height: 23px; */
  color: rgba(255, 255, 255, 0.75);
}
.footer__icons i {
  margin-left: 30px;
  transition: 0.3s;
}
.footer__icons i:hover {
  color: aqua;
  transition: 0.3s;
}
