.tabs__wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.tabs__header {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.tabs__btn {
  margin-bottom: 10px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 0.9375rem;
  text-transform: uppercase;
  color: #ffffff;
  background: #333333;
  border-radius: 4px;
  width: 7rem;
  line-height: 6.875rem;
  cursor: pointer;
  border: transparent;
}
.tabs__btn:hover {
  background: #ec7979;
}
.tabs__btn:active {
  background: #ec7979;
}
.tabs__content {
  /* display: flex; */
  margin-left: 88px;
}
.tabs-item {
  display: flex;
  justify-content: space-between;
}
.tabs-item_left__title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #000000;
}
#tabs-item_left__text__second {
  margin-top: 28px;
}
.tabs-item_left__text {
  margin-top: 58px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 0.875rem;
  width: 35.75rem;
  text-transform: uppercase;
  color: #86878b;
}
.tabs-item_left__btn {
  display: block;
  margin-top: 80px;
  line-height: 42px;
  width: 8.4375rem;
  background-color: #ec7979;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9375rem;
  text-align: center;
  color: #ffffff;
  transition: 0.1s;
}
.tabs-item_left__btn:hover {
  background-color: #ed8888;
  color: #fff;
}
.tabs-item_left__btn:active {
  transform: scale(0.9);
}

.tabs-item__right {
  /* display: inline-block; */
}
.tabs__img img {
  margin-left: 78px;
  /* margin-right: 15px; */
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.tabs__img {
  width: 20rem;
}
.tabs-item__wrap {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 1185px) {
  .container {
    max-width: 970px;
  }
  .tabs__img img {
    width: 280px;
  }
  .tabs-item_left__text {
    width: 450px;
  }
}
@media (max-width: 1023px) {
  .container {
    max-width: 750px;
  }
  .tabs-item__right {
    display: none;
  }
  .tabs-item_left__text {
    width: none;
  }
  .tabs__wrap {
    justify-content: space-evenly;
  }
  .tabs__btn {
    width: 13.25rem;
    font-size: 1.1875rem;
  }
  .tabs-item_left__btn {
    width: 28.125rem;
    margin-right: 15px;
  }
  .tabs-item_left__text {
    margin-right: 15px;
  }
}

@media (max-width: 779px) {
  .container {
    max-width: 560px;
  }
  .tabs-item_left__text p {
    font-size: 80%;
  }
  .tabs-item_left__title {
    font-size: 99%;
  }
  .tabs-item_left__btn {
    width: 60%;
    margin: 30px auto;
  }
  .tabs__wrap {
    flex-direction: column;
  }
  .tabs__btn {
    margin: 5px 0 10px;
  }
  .tabs__header {
    align-items: center;
  }
  .tabs__content {
  }
}
@media (max-width: 566px) {
}
@media (max-width: 320px) {
}
